<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Language" content="utf-8" />
  <title>页面</title>
  <meta content="all" name="robots" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="filetype" content="1" />
  <meta name="publishedtype" content="1" />
  <meta name="pagetype" content="2" />
  <meta name="catalogs" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <!--优先使用 IE 最新版本和 Chrome-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--360 使用Google Chrome Frame-->
  <meta name="renderer" content="webkit">
  <link charset="utf-8"  rel="stylesheet" href="https://cunchu.site/work/login/standard.css">
  <style>
    .owo td {
      word-break: break-all;
    }
    .fr-box {
      display: flex;
      height: calc(100% - 50px);
    }
    html, body, .box {
      width: 100%;
      height: 100%;
    }
    .lf-box {
      width: 200px;
    }
    .right-box {
      width: calc(100% - 200px);
    }
    .menu-item {
      line-height: 45px;
      font-size: 18px;
      border-bottom: 1px solid #ccc;
      padding: 0 10px;
    }
    .menu-item.cative {
      background-color: palegoldenrod;
    }
    .menu-item a {
      text-decoration: none;
      color: #333;
      display: block;
    }
    .menu-item.cative {
      background-color: palegoldenrod;
    }
    td span {
      margin: 0 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="box owo">
    <nav class="owo"><h2>关键词后台管理</h2></nav>
    <div class="fr-box">
      <div class="lf-box">
        <div class="menu-item"><a href="./page3">用户管理</a></div>
        <div class="menu-item"><a href="./">关键词检查</a></div>
        <div class="menu-item cative"><a href="./page2">关键词管理</a></div>
        <div class="menu-item"><a href="./page4">接口管理</a></div>
      </div>
      <div class="right-box">
        <div class="panel">
          <table class="table-fill" style="width: 100%;">
            <thead>
            <tr>
            <th class="text-left" style="width: 200px;">网站地址</th>
            <th class="text-left">关键词</th>
            <th class="text-left" style="width: 90px;">操作</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            </tbody>
          </table>
        </div>
        <!-- <div class="owo button" onclick="getValue()">获取检查结果</div> -->
      </div>
    </div>
    
    
  </div>
  <script>
    function check() {
      let tempList = document.querySelector('textarea').value
      tempList = tempList.split('\n')
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({
        "urlList": tempList
      });

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      fetch("/webSite", requestOptions)
        .then(response => response.text())
        .then(result => {
          getValue()
        })
        .catch(error => console.log('error', error));
      console.log(tempList)
    }
    function getValue () {
      window.infoData = {}
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("/getValue", requestOptions)
        .then(response => response.json())
        .then(result => {
          console.log(result)
          let domList = ``
          result.data.forEach(element => {
            window.infoData[element[0]] = element[1]
            domList += `<tr>
      <td class="text-left">${element[0]}</td>
      <td class="text-left">${element[1]}</td>
      <td class="text-left"><span onclick="deleteItem('${element[0]}')">删除</span><span onclick="editItem('${element[0]}')">修改</span></td>
      </tr>`
          });
          document.querySelector('.table-hover').innerHTML = domList
        })
        .catch(error => console.log('error', error));
    }
    getValue()
    function deleteItem (url) {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({
        "url": url
      });

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      fetch("/deleteItem", requestOptions)
        .then(response => response.text())
        .then(result => {
          getValue()
        })
        .catch(error => console.log('error', error));
    }
    function editItem(key) {
      owo.tool.prompt('请输入新的关键词:', (val) => {
        console.log(val)
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "url": key,
          "keyword": val
        });

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };
        fetch("/updataItem", requestOptions)
        .then(response => response.text())
        .then(result => {
          getValue()
        })
        .catch(error => console.log('error', error));
      }, window.infoData[key])
    }
  </script>
  <script src="https://cunchu.site/work/login/standard.js"></script>
</body>

</html>