<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Language" content="utf-8" />
  <title>页面</title>
  <meta content="all" name="robots" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="filetype" content="1" />
  <meta name="publishedtype" content="1" />
  <meta name="pagetype" content="2" />
  <meta name="catalogs" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <!--优先使用 IE 最新版本和 Chrome-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--360 使用Google Chrome Frame-->
  <meta name="renderer" content="webkit">
  <link charset="utf-8"  rel="stylesheet" href="https://cunchu.site/work/login/standard.css">
  <link charset="utf-8" rel="stylesheet" href="https://cunchu.site/work/login/mini.css">
  <style>
    .owo td {
      word-break: break-all;
    }
    .fr-box {
      display: flex;
      height: calc(100% - 50px);
    }
    html, body, .box {
      width: 100%;
      height: 100%;
    }
    .lf-box {
      width: 200px;
    }
    .right-box {
      width: calc(100% - 200px);
    }
    .menu-item {
      line-height: 45px;
      font-size: 18px;
      border-bottom: 1px solid #ccc;
      padding: 0 10px;
    }
    .menu-item.cative {
      background-color: palegoldenrod;
    }
    .menu-item a {
      text-decoration: none;
      color: #333;
      display: block;
    }
    .menu-item.cative {
      background-color: palegoldenrod;
    }
  </style>
</head>
<body>
  <div class="box owo">
    <nav class="owo"><h2>关键词后台管理</h2></nav>
    <div class="fr-box">
      <div class="lf-box">
        <div class="menu-item"><a href="./page3">用户管理</a></div>
        <div class="menu-item cative"><a href="./">网址添加</a></div>
        <div class="menu-item"><a href="./page2">网址管理</a></div>
        <!-- <div class="menu-item"><a href="./page4">接口管理</a></div> -->
      </div>
      <div class="right-box">
        <h3>网址添加并获取关键词</h3>
        <textarea style="height: 300px;"></textarea>
        <div class="owo button" onclick="check()">批量添加</div>
        <div class="owo button"><input type="file" style="position: absolute;width: 100%;height: 100%;opacity: 0;" id="fileInput" />导入CSV</div>
      </div>
    </div>
    
    
  </div>
  <script>
    window.owoType = '关键词管理'
  </script>
  <script src="https://cunchu.site/work/login/mini.js" type="text/javascript" charset="UTF-8"></script>
  <script>
    function check() {
      let tempList = document.querySelector('textarea').value
      tempList = tempList.split('\n')
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({
        "urlList": tempList,
        "source": "后台添加"
      });

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      fetch("/webSite", requestOptions)
        .then(response => response.text())
        .then(result => {
          location.href = 'page2'
        })
        .catch(error => console.log('error', error));
      console.log(tempList)
    }
    function getValue () {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("/getValue", requestOptions)
        .then(response => response.json())
        .then(result => {
          location.href='/page2'
        })
        .catch(error => console.log('error', error));
    }
    // getValue()
    function deleteItem (url) {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({
        "url": url
      });

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      fetch("/deleteItem", requestOptions)
        .then(response => response.text())
        .then(result => {
          getValue()
        })
        .catch(error => console.log('error', error));
    }
    function csvToArr (str) {
      str = str.replace(/\r/g, '\n')
      str = str.replace(/\n\n/g, '\n')
      str = str.split('\n')
      let reArr = []
      for (let ind = 0; ind < str.length; ind++) {
        let temp = str[ind]
        reArr.push(temp.split(','))
      }
      return reArr
    }
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        
        reader.onload = function(event) {
            const fileContent = event.target.result;
            let temp = csvToArr(fileContent)
            console.log(temp);
            let temp2 = ``
            temp.forEach(element => {
              temp2 += `${element[0]}\n`
            });
            document.querySelector('textarea').value = temp2
        };

        // 读取文件内容为文本
        reader.readAsText(file);
    });
  </script>
  <script src="https://cunchu.site/work/login/standard.js"></script>
</body>

</html>